.title {
    font-size: 1.4em;
    margin-top: 0.2em;
    margin-bottom: 0.3em;
    text-align: center;
}
.artist {
    font-size: 1.25em;
    margin-bottom: 0.5em;
    text-align: center;
}
.capo {
    font-size: 1.1em;
    font-style: italic;
}

.music {
    margin-top: 2em;
}

p.musicLineWithChords {
    line-height: 2.7em;
    font-family: "Inconsolata Mono", "Courier New", Courier, monospace;
}

p.musicLine {
    font-family: "Inconsolata Mono", "Courier New", Courier, monospace;
}

.chord {
    font-weight: 600;
    position: relative;
    top: -1em;
    left: -0.5em;
}

.chord1 {
    margin-right: -0.5em;
}

.chord2 {
    margin-right: -1.0em;
}

.chord3 {
    margin-right: -1.5em;
}

.chord4 {
    margin-right: -2.0em;
}

.chord5 {
    margin-right: -2.5em;
}