<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <title>{{songTitle}}</title>
    <link rel="stylesheet" href="css/base.css" type="text/css" />
    <link rel="stylesheet" href="css/main.css" type="text/css" />
  </head>
  <body>
    <h1 class="title">{{songTitle}}</h1>
    <div class="artist">{{songArtist}}</div>
    {{songCapo}}
    <div class="music">
      {{songChords}}
    </div>
  </body>
</html>